<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <title>Recipe App</title>

    <style>
        body {
            margin: 20px;
        }

        .recipe {
            font-family: 'Poppins', sans-serif;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 3em;
        }

        .recipe:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .recipes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .input-q {
            border-radius: 20px;
            padding: 5px 10px 5px 10px;
        }
    </style>
</head>

<body>
    <h1>Recipe App</h1>
    <form method="post">
        <input type="text" name="query" placeholder="recipe" class="input-q">
        <input type="submit" class="btn btn-primary rounded-pill my-2 my-sm-0">
    </form>
    <a href="/add-recipe" class="btn btn-primary" style="margin: 10px">Add Recipe</a>
    <div class="recipes">
        {% for id, recipe_name, recipe in recipes %}
        <div class="card recipe" id=" {{id}}">
            {% autoescape false %}
            <div class="card-body">
                <h3 class="card-title">{{recipe_name}}</h3>
                <p class="card-text">{{recipe}}</p>
                {% endautoescape %}
                <form action="/delete/{{id}}" method="DELETE">
                    <input type="submit" value="Delete" class="btn btn-primary rounded-pill my-2 my-sm-0">
                </form>
            </div>
        </div> <!--card end-->
        {% endfor %}
        </ul>
    </div>
</body>

</html>